<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satyajitghosh.mediclock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- For apps with targetSDK=31 (Android 12) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mediclock_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mediclock_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediClock">
        <activity
            android:name=".lab.labAddActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorAddActivity"
            android:exported="false" />
        <activity
            android:name=".lab.labActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.RingActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.TimeChangeActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.DisplayMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".medicine.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- For AlarmService -->
        <receiver android:name=".medicine.MyBroadcastReceiver" />

        <service
            android:name=".medicine.MyAlarmService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".medicine.AlarmRefreshService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>